body {
    font-family: 'Noto Sans KR';
}

/* header start */
#header_sub {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255);
    border-bottom: 1px solid #dddddd;
    z-index: 99;
}

#header_sub > .head_inner .gnb_btn img {
    width: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;    
}

#header_sub > .head_inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 33px 100px;
    max-width: 1920px;
    margin: 0 auto;
    transition: 2s;
    justify-content: space-between;
}
/* header End */

/* section background start */
#container #sub_spot {
    position: relative;
    background: url(../images/community/community-image.jpg) center no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 94px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container #sub_spot_en {
    position: relative;
    background: url(../images/community/community-image.jpg) center no-repeat;
    background-size: cover;
    height: 400px;
    margin-top: 87px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* section background end */

#container .inner {
    position: absolute;
    width: 100%;
    text-align: center;
}

#container .inner .outer {
    font-size: 70px;
    font-weight: 500;
    color: #fff;
    transition: all 0.5s ease;
    font-family: "Pretendard";
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#community {
    position: relative;
    width: 1500px;
    margin: 100px auto 100px;
}

#community .list.resp {
    width: 100%;
    margin-bottom: 150px;
    border-top: 2px solid #333;
}

.list_body ul li {
    width: 100%;
    display: inline-table;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    align-items: center;
}

.list_body .board .title_wrap,
.list_body .board .name_wrap,
.list_body .board .pw_wrap,
.list_body .board .pw_o_wrap,
.list_body .board .notice_wrap,
.list_body .board .file_wrap,
.list_body .board .code_wrap,
.list_body .board .notice_wrap,
.list_body .board .file_wrap,
.list_body .board .code_wrap {
    width: 15%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 74px;
}

.list_body .board .title_wrap .td.col_title,
.list_body .board .name_wrap .td.col_name,
.list_body .board .pw_wrap .td.col_pw,
.list_body .board .pw_o_wrap .td.col_pw_o {
    padding-left: 10px;
}

.list_body .board .code_container {
    display: flex;
    align-items: center;
}

.list_body .board .file_container {
    display: flex;
    align-items: center;
}

.list_head li {
    list-style: none;
    width: 100%;
    padding: 25px 0 25px;
    border-bottom: 1px solid #d2d2d2;
    display: table;
}

.list_head li .th {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    padding-left: 40px;
}

.list_body .board .a {
    padding-left: 20px;
}

.list_body .board .aa {
    padding: 20px 0 20px 20px;
}

.title_input,
.name_input,
.pw_input,
.pw_o_input {
    padding-left: 20px;
}

.title_input > input,
.name_input > input,
.pw_input > input,
.pw_o_input > input {
    border-inline-end-width: 1px;
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    background-color: #fff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    transition: all 0.2s;
    height: 40px;
    border-color: #d9d9d9;
    background-color: #fbfbfb;
    width: 450px;
}

.code_input > input {
    border-inline-end-width: 1px;
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    background-color: #fff;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    transition: all 0.2s;
    height: 32px;
    border-color: #d9d9d9;
    background-color: #fbfbfb;
    width: 211px;
}

select {
    background: url('../images/community/arrow.png') no-repeat center right 10px; 
    height: 40px;
    padding: 0 45px 0 15px;
    margin-right: 8px;
    background-size: 8px;
    background-color: #fbfbfb;
    color: #333333;
    border: 1px solid #d9d9d9;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.title_option {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.i_check {
    margin-right: 4px;
    position: relative;
    top: 1px;
}

.option_weight,
.option_check {
    margin-right: 10px;
}

.board .file_select,
.board .code_Refresh {
    padding-left: 20px;
}

.board .file_select button,
.board .code_Refresh button {
    height: 31px;
    padding: 0 20px;
    border-radius: 4px;
    border: 1px solid #666666;
    cursor: pointer;
    color: #333;
}

.notice_edit {
    padding: 20px 0 20px 20px;
    width: 80%;
}

.notice_edit img {
    width: 100%;
}

.file_Volume {
    padding-left: 20px;
}

.file_Volume span {
    font-size: 15px;
    display: flex;
}

.code_image {
    padding-left: 20px;
}

.code_input {
    padding-left: 20px;
}

.btn_wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.btn_wrap .register,
.btn_wrap .close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.register_btn {
    margin-right: 20px;
    width: 120px;
    text-align: center;
    background: linear-gradient(to bottom, #5a5a5a 0%,#333333 100%);
    cursor: pointer;
}

.close_btn {
    width: 120px;
    text-align: center;
    background: linear-gradient(to bottom, #7f7f7f 0%,#666666 100%);
    cursor: pointer;
}

.register_btn p,
.close_btn p {
    margin: 0;
    border: 0;
    font-size: 16px;
    color: #fff;
}

.title_container {
    display: flex;
}

@media all and (max-width:1600px) {
    #community {
        width: auto;
        padding: 0 50px;
    }

    #header_sub > .head_inner {
        padding: 33px 50px;
    }
}

@media all and (max-width:1280px) {
    .title_container {
        flex-direction: column;
        padding: 20px 0;
    }

    .title_option {
        margin-top: 10px;
    }

    .list_body .board .title_wrap,
    .list_body .board .name_wrap,
    .list_body .board .pw_wrap,
    .list_body .board .pw_o_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap  {
        width: 20%;
    }
}

@media all and (max-width:960px) {
    #header_sub > .head_inner .gnb_btn img {
        width: 36px;
    }

    #container #sub_spot {
        margin-top: 91px;
    }

    #container #sub_spot_en {
        margin-top: 85px;
    }

    .list_head li .th {
        font-size: 16px;
    }

    .list_body .board .title_wrap,
    .list_body .board .name_wrap,
    .list_body .board .pw_wrap,
    .list_body .board .pw_o_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap {
        font-size: 14px;
    }

    .board .file_select button,
    .board .code_Refresh button {
        font-size: 12px;
    }

    select {
        font-size: 12px;
    }

    .option_weight, .option_check, .option_alert {
        font-size: 14px;
    }

    .file_Volume span {
        font-size: 14px;
    }
    .list_body .board .title_wrap,
    .list_body .board .name_wrap,
    .list_body .board .pw_wrap,
    .list_body .board .pw_o_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap {
        padding-left: 10px;
    }

    .list_head li .th {
        padding-left: 10px;
    }

    .list_body .board .title_wrap .td.col_title,
    .list_body .board .name_wrap .td.col_name,
    .list_body .board .pw_wrap .td.col_pw,
    .list_body .board .pw_o_wrap .td.col_pw_o {
        padding-left: 5px;
    }

    .title_container {
        width: 80%;
    }

    .title_container .title_input input {
        width: 100%;
    }

    .name_input, .pw_input, .pw_o_input {
        width: 80%;
    }

    .name_input > input,
    .pw_input > input,
    .pw_o_input > input {
        width: 100%;
    }

    select {
        height: 35px;
        padding: 0 40px 0 15px;
    }
}

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    #container .inner .outer {
        font-size: 30px;
    }

    #container #sub_spot {
        height: 200px;
    }

    #container #sub_spot {
        margin-top: 72px;
    }

    #header_sub > .head_inner .main_logo {
        width: 71px;
    }

    #header_sub > .head_inner {
        padding: 25px 25px;
    }

    #header_sub > .head_inner .gnb_btn img {
        width: 30px;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .list_body ul li {
        display: inline-block;
    }

    .list_head {
        display: none;
    }

    #community {
        padding: 0 25px;
    }

    .list_body .board .title_wrap,
    .list_body .board .name_wrap,
    .list_body .board .pw_wrap,
    .list_body .board .pw_o_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap {
        padding-left: 0;
    }

    .title_input,
    .name_input,
    .pw_input,
    .pw_o_input {
        width: 100%;
        padding-left: 0;
    }

    .code_input > input {
        width: 200px;
    }

    .title_option {
        padding-left: 0;
    }

    .title_container {
        width: 100%;
        padding: 0;
    }

    .list_body ul li {
        border-bottom: none;
    }

    .list_body .board .title_wrap,
    .list_body .board .name_wrap,
    .list_body .board .pw_wrap,
    .list_body .board .pw_o_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap,
    .list_body .board .notice_wrap,
    .list_body .board .file_wrap,
    .list_body .board .code_wrap {
        height: 35px;
        margin-top: 10px;
        margin-bottom: 2px;
        width: 100%;
    }

    .notice_edit {
        padding: 0;
        width: 100%;
    }

    .board .file_select, .board .code_Refresh {
        padding-left: 0;
    }

    .register_btn span, .close_btn span {
        font-size: 15px;
    }

    .btn_wrap {
        margin-top: 60px;
    }

    .code_image {
        padding-left: 15px;
    }

    #container #sub_spot_en {
        margin-top: 85px;
    }
}

@media all and (max-width:640px) {
    #community {
        margin-top: 50px;
        padding: 0;
    }

    .code_input > input {
        width: 100px;
    }

    #community .list.resp {
        margin-bottom: 100px;
    }

    .register_btn span, .close_btn span {
        font-size: 12px;
    }

    select {
        padding: 0 30px 0 10px;
    }

    .file_Volume {
        padding-left: 15px;
    }

    .file_Volume span {
        font-size: 12px;
    }

    .code_input {
        padding-left: 15px;
    }

    .register_btn,
    .close_btn {
        width: 100px;
        text-align: center;
    }

    .list_body {
        border-bottom: 1px solid #d2d2d2;
        padding: 0 20px 30px;
    }

    .btn_wrap {
        margin-top: 40px;
    }

    .board .file_select button, .board .code_Refresh button {
        padding: 0 15px;
    }

    .notice_edit img {
        content: url(../images/community/editor_m.jpg);
    }
 
    .register_btn p,
    .close_btn p {
        font-size: 14px;
    }

    .register_btn {
        margin-right: 10px;
    }

    #container #sub_spot_en {
        margin-top: 68px;
    }
}